<header>
  <div class="container">
    <div>
      <a class="back-button" (click)="openModal()">
        &#8592;
      </a>
      <h2>Questions</h2>
    </div>

    <div class="toggle-container">
      <label class="switch">
        <input type="checkbox" (change)="toggleMyQuestions($event)" />
        <span class="slider"></span>
      </label>
      <span class="toggle-label">Minhas</span>
    </div>
  </div>

  <a routerLink="/new-question" class="new-question">Nova pergunta</a>
</header>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <p>Você realmente deseja sair?</p>
    <div class="buttons">
      <button (click)="confirmExit()">Sim</button>
      <button (click)="cancelExit()">Não</button>
    </div>
  </div>
</div>

<div *ngIf="showDeleteModal" class="modal">
  <div class="modal-content">
    <p>Você realmente deseja excluir esta pergunta?</p>
    <div class="buttons">
      <button (click)="confirmDelete()">Sim</button>
      <button (click)="closeDeleteModal()">Não</button>
    </div>
  </div>
</div>


<main>
  <div class="tags-container">
    <div class="tags" *ngIf="tags.length > 0">
      <button class="tag" *ngFor="let tag of tags" [ngClass]="{ active: filterTagIds.includes(tag.id) }"
        (click)="toggleTag(tag.id)">
        {{ tag.tag_name }}
      </button>
    </div>
  </div>

  <div *ngIf="questions.length > 0; else noQuestions">
    <div *ngFor="let question of questions" class="question-card">
      <a [routerLink]="['/questions', question.id]" class="question-link">
        <h3>{{ question.title }}</h3>

        <div class="infos-question">
          <div class="infos">
            <p>{{ question.user.nick_name }}</p>
            <p>{{ question.creation_date | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>

        <div class="tags">
          <span *ngFor="let tag of question.tags" class="tag">{{ tag.tag_name }}</span>
        </div>
      </a>

      <div class="actions" *ngIf="canEditOrDelete(question.user.id)">
        <a class="button-action" *ngIf="!question.answers.length"
          [routerLink]="['/edit-question', question.id]">Editar</a>
        <a class="button-action delete" (click)="openDeleteModal(question.id)">Excluir</a>
      </div>
    </div>
  </div>

  <ng-template #noQuestions>
    <p class="no-questions">Nenhuma pergunta encontrada!</p>
  </ng-template>
</main>