<header>
  <div class="container-header">
    <button class="back-button" (click)="goBack()">
      &#8592;
    </button>

    <button class="reply-button" (click)="toggleReply()">Responder</button>
  </div>
</header>

<div class="container">
  <main *ngIf="question; else loading">
    <div class="question">
      <h2>{{ question?.title }}</h2>
      <div class="infos-question">
        <p class="author-question">Autor: {{ question?.user?.nick_name }}</p>
        <p class="question-time">{{ question?.creation_date | date: 'dd/MM/yyyy' }}</p>
      </div>

      <div class="tags">
        <span *ngFor="let tag of question?.tags" class="tag">{{ tag.tag_name }}</span>
      </div>

      <section class="description">
        <p>{{ question.description }}</p>
      </section>
    </div>

    <section class="new-answer" *ngIf="showReply">
      <textarea [(ngModel)]="newAnswer" placeholder="Escreva sua resposta..."></textarea>
      <button class="send-button" (click)="submitAnswer()">Enviar</button>
    </section>

    <section class="answers">
      <h3>Respostas</h3>
      <div class="answers-cards" *ngIf="question.answers.length > 0; else noAnswers">
        <div *ngFor="let answer of question.answers" class="answer-card">
          <div class="infos-answer">
            <p class="author-answer">{{ answer.user?.nick_name }}</p>
            <span>
              <div class="actions" *ngIf="canDelete(answer.user.id)">
                <button class=" button-action" (click)="showDeleteConfirmation(answer.id)">Excluir</button>
              </div>

              <p class="question-time">{{ answer.creation_date | date: 'dd/MM/yyyy' }}</p>
            </span>
          </div>
          <p>{{ answer.content }}</p>
        </div>
      </div>

      <ng-template #noAnswers>
        <p class="no-answers">Nenhuma resposta encontrada.</p>
      </ng-template>
    </section>
  </main>
</div>

<ng-template #loading>
  <p>Carregando...</p>
</ng-template>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <p>Você realmente deseja excluir esta resposta?</p>
    <div class="buttons">
      <button (click)="confirmDelete()">Sim</button>
      <button (click)="cancelDelete()">Não</button>
    </div>
  </div>
</div>