.container {
  width: 100vw;
  height: 100vh;
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container main {
  width: 90%;
  max-width: 36rem;
  padding: 3rem;
  background-color: #eaeaeb;

  display: flex;
  flex-direction: column;
  gap: 6rem;

  border: solid 0.11rem #a798fd;
  border-radius: 1rem;

  -webkit-box-shadow: 0px 0px 25px -10px #3d3763;
  -moz-box-shadow: 0px 0px 25px -10px #3d3763;
  box-shadow: 0px 0px 25px -10px #3d3763;
}

main .cta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main .cta h3 {
  color: #646464;
  font-weight: 500;
}

main a {
  height: 3rem;
  width: 11rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;

  cursor: pointer;

  border: solid 1.7px #a798fd;
  border-radius: 0.4rem;

  background-color: #a798fd;

  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  transition: 0.6s;
}
main a:hover {
  color: #a798fd;

  background-color: #fff;
}
