form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

div.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.inputs .principal-inputs,
.inputs .name-and-position {
  display: flex;
  flex-grow: 1;
  gap: 1rem;

  width: 98%;
}

div.form-group {
  display: flex;
  flex-direction: column;

  width: 98%;
}

.form-group > label {
  position: relative;
}
.form-group label span.required {
  font-size: 0.8rem;
  color: #ff0000;

  position: absolute;
  top: 0;
  padding-left: 0.09rem;
}

input.form-control {
  width: 100%;
  padding: 0.5rem;

  border: 1px solid #a798fd;
  border-radius: 5px;

  outline: none;
}
